<aside id="secondary" class="widget-area" role="complementary" aria-label="Blog Sidebar">
	<section id="search-3" class="widget widget_search">

    <!-- <form role="search" method="get" class="search-form" action="https://wp-themes.com/"> -->
	  <!--   <label for="search-form-5a315d71e7d90"> -->
		<!--     <span class="screen-reader-text">Search for:</span> -->
	  <!--   </label> -->
	  <!--   <input type="search" id="search-form-5a315d71e7d90" class="search-field" placeholder="Search …" value="" name="s"> -->
	  <!--     <button type="submit" class="search-submit"><svg class="icon icon-search" aria-hidden="true" role="img"> <use href="#icon-search" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use> </svg><span class="screen-reader-text">Search</span></button> -->
    <!--   </form> -->
    <!-- </section> -->

    <section id="archives-3" class="widget widget_archive">
      <h2 class="widget-title">Pages</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/archive.html">Archive</a></li>
      </ul>
    </section>

    <section id="recent-posts-3" class="widget widget_recent_entries">
      <h2 class="widget-title">Recent Posts</h2>
      <ul>
        $recent_posts$
		  </ul>
		</section>

  <!--   <section id="categories-3" class="widget widget_categories"> -->
  <!--     <h2 class="widget-title">Categories</h2>		<ul> -->
	<!--     <li class="cat-item cat-item-6"> -->
  <!--       <a href="#">First Child Category</a> -->
  <!--     </li> -->
	<!-- 	</ul> -->
  <!--   </section> -->
  </aside>
